/* CSS created by: Robert Erickson 
    last modified: June 2014

/* these work well when you use html 5 required attribute and type=email */
.required {
    font-weight:bolder;
    font-style:italic;
}

fieldset.contact input:valid{
    border: medium solid green;
}

fieldset.contact input:invalid{
    border: medium solid red;
}