/* CSS designed by  Sam Colburn 

to understand the comments like 900px / 960px
   read http://alistapart.com/article/responsive-web-design/

*/
/*****************     main layout section             ************************/
body{
    width: 100%;
    font-family:"Century Gothic", sans-serif;
    margin:0;
    color:#222;
}

#page{
}

#main{
    float: left;
    width:100%;
}

#other{
}

h2 {
    font-weight:normal;
    margin-left:5.333333%;
    padding-top:1em;
}

/*****************     header section             *****************************/
header h1 {
    padding: 0.8em 5.33333333%;  /* 48px / 900px */
    font-weight:normal;

}


/*****************     navigation section         *****************************/
nav ol {
    padding-left: 5.33333333%;  /* 48px / 900px */
    color:#222;
    border-bottom:thin solid #999;
}
nav ol li{
    display: inline-block;
    list-style-type: none;
    padding-right: 3em;
 
}

nav a:link{
    color:#222;
    text-decoration: none;
}

nav a:visited{
    color:#222;
    text-decoration: none;
}

nav a:hover{ 
    text-decoration: underline;

}


/*****************     article section             ****************************/
/* un comment and see what happens */
/*
article{
    height: 200px;
    overflow: auto;
}
*/

article h1, article p, article table{
    padding: .2em 8.48056537% .2em 8.48056537%; /* 48px / 566px */
}


/*****************     aside section              *****************************/
aside {
    margin: 0 auto;
    width: 69.7885196%; /* 231px / 331px */
}
aside h2, aside p{
    padding: .2em 8.48056537% .2em 8.48056537%; /* 48px / 566px */
}


/*****************     footer section              ****************************/
/* ===================  Footer Section  ==================================== */


footer {
    font-size: small;
    text-align: center;
    margin-top:1em;
    clear: both;
    border-top:thin solid #999;
}

footer a:link{
    color:#222;
    text-decoration: none;
    font-size:medium;

}

footer a:visited{
    color:#222;
    text-decoration: none;
    font-size:medium;
}    

footer a:hover{
    color:#222; 
    text-decoration: none;
    font-size: medium;

}
.footer {
    color:#FFF;
}


/*****************     form section                ****************************/
#form article#main{
    float: none;
    text-align: left;
    width:100%;
}

/*need to clear any floats that may exist */

fieldset{
    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom:0;
    margin: 0;
    padding:0;
    padding-bottom:3em;
}

legend {
    font-size:small;
}

fieldset.wrapper {
    border: 0;
    margin: auto;
}

fieldset.wrapper legend {
    margin-left:5%
}

fieldset.intro{
    padding-left:5.3333%;
    padding-right:20%;
    padding-top:2em;
    max-width:600px;

}

fieldset.intro legend {
    display:none;
}



label {
    color: #222;
    display: block;
    font-size: medium;

}

label:hover {
    background-color: #FFF;
} 

input {
    color:#000;
    border:0;
    background-color:#F5F5F5;
    font-family:"Century Gothic", sans-serif;

}

/*~~~ CONTACT ~~~~~~~~~~ */
fieldset.contactwrapper{
    float:none;
    padding-right:10%;



}
fieldset.contactwrapper legend{
    display:inline;
}
/* just pushes content to left side of the box. */
fieldset.contact{
    float: left;
    margin:0;
    padding:0;
    border:0;
    width:100%;

}
legend.contact {
    display: none;
}
/* when you look at the labels this pushes then next to the input and right
aligns them. Display block means they are each on their own line. */
fieldset.contact label{
    display: block;
    text-align: right;/* pushes the text to the right where they line up */
    padding-top:0.5em;
    font-size:0;

}

fieldset.contact input{
    width: 100%; 
    font-size:medium;
    height:2em;
    padding-left:2em;
    border-radius:3px;
    margin-top:1em;
}
input#txtFirstName {
    margin-top:0.5em;
}



/* ~~~ RADIO ~~~*/ 
fieldset.radiowrapper {
    float:left;
    width:30%;

}

fieldset.radiowrapper legend{
    display:block;
}
fieldset.radio {
    float:left;
    margin:0;
    padding:0;
    border:0;
    clear:both;
}

fieldset.radio label {
    width:100%;
    font-size:medium;
}

fieldset.radio input {
    margin-right:1em;
}
/* ~~~ CHECKBOX ~~~*/ 

fieldset.checkbox {
    float:left;
    width:30%;
    min-width:8em;

}

fieldset.checkbox legend{
    display:inline;
}

fieldset.checkbox label {
    padding-top:0.3em;
    font-size:medium;
}

fieldset.checkbox input {
    margin-right:1em;
}
/* ~~~ List Box ~~~*/ 
fieldset.listbox {
width:30%;
}

fieldset.listbox legend{
    display:inline;
}
select#lstMountains{
    background-color:#F5F5F5;
    border:0;
    border-radius:3px;
    color:#222;
    font-family:"Century Gothic", sans-serif;
    font-size:medium;
    margin-top:0.5em;

}
/* Style the comment box*/

fieldset.textarea {
    padding-bottom:0;
    clear:both;
}

fieldset.textarea legend{
    display:block;
}
fieldset.textarea label {
    display:none;
}
textarea#txtComments{
    margin-top: 0.5em;
    border:0;
    background-color:#F5F5F5;
    font-family:"Century Gothic", sans-serif;
    width:20em;
    border-radius:3px;
    overflow: auto;
    resize: none;
    font-size:medium;

}


/* changes button style*/
fieldset.buttons{
    border: none;
    margin-top:0;
    margin-left:5%;
    margin-right:0;
    margin-bottom:0;
    padding:0;
}

input#btnSubmit{
    background-color: #222;
    color: #FFF;
    border: 0;
    padding:0.5em;
    font-size:large;
    border:thin solid #222;
    border-radius:3px;

}
input#btnSubmit:hover{
    background-color: #444;
    font-size:large;
    border:thin solid #222;

}
/* style the errors in the form so they are visible */
.mistake {
    color: #fff;
    background-color:#ff5555;
    border: 0;
}

/* style the list of errors that will show before the form */

#errors ol {
    margin-top:5%;
}
#errors ol li{
    color: #ff5555;
    margin-top:0.2em;
}