/* CSS designed by Robert M. Erickson */

/* ===================  General Section  ==================================== */
@import url('reset.css');

* {
 
}

.printonly{}
html, body {}

body {

}

a{

}

a[target="_blank"]{
 
}

a:link{

}
a:visited{

}
a:hover {

}

code{
   
}
h1, h2, h3 {
 
}

h1{

}

h2, h2 a{
   
}

h3{
    
}

img {
   

}
#slide img {

    
}

p {
 
}
ol li {
  
}
ol ol li {
  

}

strong{
   
}
.firstLine{
    
}

/* style the errors in the form so they are visible */
.mistake {
 
}

/* style the list of errors that will show before the form */
#errors ol li{
  
}


/* ===================  Header  Section  ==================================== */

#topbox{

}
#header {

}

#header a:link{
}

#header a:hover{

}

#classtitle{
}

.todaysdate{
}

#toolmenu{
}

/* ===================  Student Info Section  =============================== */
#studentInfo{  
}

#studentGrade{
}	

#studentGrade a:visited{
}	

#classRank{
}

.noticeMe{ /* -------    for guests who are not registered , not accpeted submission */ 
}

/* ===================  Main Navigation Section  ============================ */
#mainMenu{
}

#mainMenu ol{

}

#mainMenu .activeLink a{
}

#mainMenu a{
}

.menuLink{
}
.menuLink a{	
 
}

.menuLink a:link{

}

nav#mainMenu ol li.menuLink a:visited{
 
}
.menuLink a:hover{
	
}

/* ===================  Main Content Section  =============================== */
#mainContent {
 
}

#mainContent a:visited{

}


/*hilite me div goes out of bounds :( */
div[style*="background"], .code{

}
/* ===================  Main Content Section  =============================== */
/* -------------------  Student Grade Page    ------------------------------- */

/* -------------------------- Grades ---------------------------------------- */

/* -- used for automatic grading -- */
.certain{
   
}

.uncertain{
   
}
/* -------------------------------- */
.newCriteria{
  
}

.oldCriteria{
  
}
.wrongCriteria{
   
}

.zeroPoints {
    
}
.bonusPoints{
   
}
.avggrade {

}

.failing {
   
}

.hypo {
  
}
.percent{

}
#GradeCriteria{
 
}

.GradesReleased {
 
}
.GradesReleased a:visited, .GradesReleased a:link{
   
}
.GradesReleased .highlight {

}

.GradingStarted {
  
}

.NotGraded {
  
}
#listStudents span.NotGraded {
   
}

#listStudents span.notSubmitted:before{
  
}
#listStudents span.notSubmitted{
 
}
table#grading{
 
}

table#grading, table#grading td, table#grading th{
 
}

.standard {

}

.standard th {

}

.standard td {
  
}


/* ===================  Main Content Section  =============================== */
/* -------------------  layout                ------------------------ */


#slide{
    /*	float: left;
            width: 57.8888889%;/* 566px / 900px less some padding
            padding: 0 1em 2em 0;
            border-right: dashed thin #999;*/
}

#lectureSlide #otherMedia, #displayAssign #otherMedia, #lecture #otherMedia{
    /*	float: right;
            width: 17%; /* 331px / 900px */
}

#lecture #studentComments, #lectureSlide #studentComments, #displayAssign #studentComments{

    /*width: 36.7777778%; /* 331px / 900px */
}

#txtComments{

}
/* -------------------  Assignment / Lectures pages  ------------------------ */
.assignment a{
   
}

ol.webReviewList li{

}

ol.webReviewList li.hidden{

}

ol.webReviewList li.tentative{

}

ol.webReviewList li.tentative:before{
 
}

.current{

}

/* the perr grading page to highlight the current student you are working on */
#peerGrade .current{

}
#peerGrade ol li{
    

}
.notStudentLink{ /* for instructor to see link is not avaliable to students */
   
}

.summary{
    
}

.title{
   
}


.small{
  
}
.fifty{
   
}
.onehundred{
    
}
figure.img-left{
 
}
figcaption{
   
}

.LecturesLink{ /* also used on calendar */  
 
}

.lectureLeftPicture{
 
}

.lectureRightPicture{
   
}

.videoList li{
   	
}

#otherMedia ol li{

}

#otherMedia ol li a[href*="http://"]{


}


#otherMedia ol li audio{
 
}
#otherMedia ol li img{
  
}

.groupMembers li{
  
}




/* ===================  Main Content Section  =============================== */
/* -------------------  Calendar page         ------------------------------- */
.Absent{
  
}

.assignment{
   
}

.callInSick{

}

div.date{

}

.Excused{
  
}

#fullCalendar{
  
}

.labComplete{
  
}

.FreeDay{
 
}

.Late{
 
}

.Personal{

}

.Present{
   
}

.presentation{
  
}
.Sick{
 
}

.submitted{
    
}

.notSubmitted{

}
.TOPIC { 
 
}

.VACA {

}

ol.taVisists li{
 
}

ol.taVisists li.null{
   
}
ol.taVisists li.null:before{
  
}

ol.taVisists li.Show{
  
}
ol.taVisists li.NoShow{
  
}

tr.days{
    
}

tr.days th.sat, tr.days th.sun {
 
}

#calendar table tr.days th,  table tr.days th {

}

#calendar table tr#title th {
  
}

#calendar table td {

}

#calendar table td.Sat {
 
}

#calendar table a {
 
}

td.Sat div.date, td.Sun div.date{
    
}

td.Jun div.date, td.Aug div.date{
  
}	

#calendar table td.Sat, #calendar table td.Sun {

}

#calendar table td.lastMonth, #calendar table td.nextMonth, #calendar table td.prevMonth {
   
}

#calendar table tr#lastweek td {
 
}

#calendar table td.atoday {
  
}

/* ===================  Main Content Section  =============================== */
/* -------------------  Call in sick Page     ------------------------------- */


/* ===================  Main Content Section  =============================== */
/* -------------------  Syllabus Page         ------------------------------- */
.noBorder{}

.hideText{ 
  
}

.emailText{
   
}
.highlightRed{ 
  
}

#syllabus table, #syllabus table td, #syllabus table th{
 
}
#tahours .hourBox:hover{
 
}
#tahours .hourBox{

}

#tahours span{
   
}
#tahours .dayColumn{
 
}
#tahours .header{
   
}
#tahours a:hover{
  

}

/* ===================  Main Content Section  =============================== */
/* -------------------  Submit Assignment Page  ----------------------------- */
#filesSubmited{
  
}
#submitAssignment iframe{ 
  
}

.left {
 
}

.submith1{
}

#submitAssignments{
  
}


#txtDateRequest{
   
}

/* ===================  Main Content Section  =============================== */
/* -------------------  Lecture Page          ------------------------------- */
#frmDemo{

}


#frmDemo pre, #tblValidation pre {
 
}

#frmDemo table, #tblValidation {
 
}

#frmDemo table td, #frmDemo table th, #tblValidation td, #tblValidation th { }
#frmDemo table th , #tblValidation th{
   
}
#frmDemo table td, #tblValidation td { 
  ; 
}

#frmDemo, #tblValidation .odd {}
#frmDemo, #tblValidation .even {}

#sampleData table, #sampleData td, #sampleData th {

}

#sampleData td:first-child + td + td, #sampleData td:first-child + td + td + td {
  
}

#tablestructure, #tablestructure td, #tablestructure th{
   
}

/* comment section */
div #studentComments{
    /* clear: all;*/
}
#studentComments {
  
}

#commentHeader{
 
}

#addComment{
  
}

.postedDate{
  
}

#studentComments article{
   

}

.poster{
  
}

.comment{
   
}

#studentComments img{

}
/* -------------------  lecture slide page   ------------------------------- */

#otherMedia{
 
}

#media #otherMedia{

}

#media #otherMedia > h1{
}
#media #otherMedia ol li {
}
/* -------------------upcoming aside  ------------------------------- */

aside#upcoming{

}
#upcoming div.box{
   
}

#upcoming h2{
 
}

#upcoming ol li{
  
}

#upcoming ol.LecturesLink, #upcoming ol.AssignmentLink, #upcoming ol.examLink{
   
}

/* ===================  Footer Section        =============================== */
footer{
  
}

footer p{
 
}

/* -------  i put this here so you can have your name show up  -------------- */
footer #author:after{
    
}

#ProcessingTime{
  
}

/* ===================  Non validating Section  ============================= */
pre { 
 
}

code{ 
  
}

/* ===================  Testing New Items Section  ========================== */
/* used for grading page */
/* slider  page css*/
/*body{ font: 62.5% "Trebuchet MS", sans-serif; margin: 50px;}*/
.demoHeaders {}

#dialog_link {}

#dialog_link span.ui-icon {}

ul#icons {}

ul#icons li {}

ul#icons span.ui-icon {}

body{

}
#toolmenu:before {
 
}

h1{

}


/* ===================  Header  Section  ==================================== */
#header {
   
}

#header a:link, #header a:visited{
 
}

#header a:hover{
   
}

#classtitle{
    
}

#toolmenu{
 
}
#toolmenu ol li{
   
}


#termOfSubmission ol li li{
   	
}

table#asciiTable, table#asciiTable td{

}

/*
media query templates

    Created on : May 12, 2014, 8:37:00 PM
    Author     : robert erickson
*/

/* ================================ */


/* ===================  Gradeing criteria pages  ============================= */
#peerCriteria article section{

}

#peerCriteria article section .percent{
 
}

#peerCriteria article section h2, 
#peerCriteris article section p{

}
#peerCriteria article section#peer{

}


@media screen and (max-width: 480px){
    body{
 
    }

    #toolmenu{

    }
    #toolmenu:before {
    
    }
}

@media screen and (max-width: 520px){
    body{
    
    }	
    #toolmenu{
   
    }
    #toolmenu:before {
     
    }	
}

@media screen and (max-width: 768px){
    body{
 
    }	
    #toolmenu:before {
     
    }	
}

/**************************************************/
@media screen and (max-width: 520px){
    /* ===================  Main Navigation Section  ============================ */
    #mainMenu{
    	
    }

    #mainMenu a, #adminMenu a{
     
    }

    .menuLink{
   
    }
    .menuLink a{	
   
    }

    .menuLink a:link{

       
    }

    .menuLink a:visited{

    }
    .menuLink a:hover{

    
    }

    /* ------------------  admin menu  ------------------------------------------ */
    #adminMenu{



    }


}
/*************************************************/
@media screen and (min-width: 1200px){
    body{

    }
    #toolmenu:before {
   
    }

    .menuLink a:link{

    }

    .menuLink a:visited{

    }
    .menuLink a:hover{

    }
}

/*====== ASSIGNMENT LIST STYLE =======*/

/*      general list style      */
ol.AssignmentsLink{
    list-style-type:none;
    padding:0;
    margin:0;
    width:100%
}

/* li element style       */
ol.AssignmentsLink li.title.summary{
    font-family:"Century Gothic", sans-serif;
    color:#fff;
    background-color:#0078D7;
    margin:10px;
    padding:5px;
    border:thin solid transparent;
    border-radius:5px;
    position:relative;
    padding-left:48px;
    width:500px;
}
/* LINK STYLE */
.AssignmentsLink li.title.summary a.url{
    color:#d1d1d1;
}

.AssignmentsLink li.title.summary a.url:hover{
    color:#FFF;
}
.AssignmentsLink li.title.summary:hover {
    background-color:#0F527A;
}

.AssignmentsLink li.title.summary:hover a.url{
  color:#ff5555;
}

/* button style */
ol.AssignmentsLink li.title.summary::before{
     
    content:"";
  position: absolute;
  top: 9px;
  left: 17px;
  height: 5px;
  width: 5px;
  border:3px solid black;
  border-radius:100%;
  background-color: #424f5c;
  transform: rotate(-90deg);

  /* this fixes a bug where pseudo elements are slighty off position */
  backface-visibility: hidden;
  transition: transform 0.6s , height 0.2s, width 0.2s;
}



ol.AssignmentsLink li.title.summary:hover::before {
  background-color: white;
  transform: rotate(-0deg);
  border-radius:0%;
  height:3px;
  width:10px;
}

