

#form article#main{
    float: none;
    margin: auto; /* because of the fixed width this centers the form */
    text-align: left;
    width: 600px; /* not repsonive but fixed */
}

/* need to clear any floats that may exist */
fieldset{
    display:block;
    clear: both;
    padding: 1em;
    margin:auto;
    text-align:center;
    width:30em;

}
/* just pushes content to left side of the box. */
fieldset.contact{
    float: left;
    border:none;
    margin-left:2em;
}
/* when you look at the labels this pushes then next to the input and right
aligns them. Display block means they are each on their own line. */
fieldset.contact label{
    display: block;
    text-align: right;
    /* pushes the text to the right where they line up */
    /* the float left above pushes everything back to the left*/
}

fieldset.contact input{
    width: 20em;
    /* works with above to be the same size for the boxes */
}


fieldset.contact select{
    width: 18em;
    margin-left:3em;/* works with above to be the same size for the boxes */
}


fieldset.buttons{
    border: none;
}

fieldset.wrapper {
    border:none;
}
fieldset.wrapperTwo {
    border:0.2em solid #FFF;
}
fieldset.wrapper legend {
    //   color: #FFF;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
}

fieldset.wrapper > legend {
    /* i only want the first legend ie if it follows the class wrapper */
    font-size: 2em;
}

label {
    //   color: #FFF;
    display: block;
    font-size: .9em;
    font-weight: bold;
    padding:1em;
}



input {
    color:#FFF;
    background-color:#253939;
    border:0.2em solid #FFF;
    padding:0.2em;

}
/* style the errors in the form so they are visible */
.mistake {
    //  color: #fff;
    background-color:rgba(255, 85, 85, 0.5);
    border: 0.2em solid #FFF;
}

/* style the list of errors that will show before the form */
#errors ol li{
    color: #ff5555;
    text-align:center;
    list-style: none;
}

#btnSubmit{
    background-image:none;
    background-color:#233d4b;
    cursor: pointer; 
    cursor: hand; 

}

div#form{
    float:left;
}
