/* website by: Sam Colburn, William Kniffin


*/


/* ==== INTIAL RESETS ===== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


html body header{
    z-index: 5 !important;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

BEGIN STYLESHEET 

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/


/*****************     main layout section             ************************/

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

GENERAL SECTION

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/

body {
    margin:0 auto;
    font-size: 100%;  /* sets the font size for all elements. */
    font-family:"Century Gothic" , sans-serif;
    color: #222;
      background-color: #fefefe;

}

/* h1 in header section */

h2 {
    font-weight: bold;
    font-size: 2em;
}

h3 {

    font-weight: bold;
    font-size: 0.9em;
    margin-bottom:0.2em;
}

h4 {
    text-indent:2em;
}

h5 { 
    color: #000000;
    font-family: "sansserif";
    font-weight: bold;
    font-size: .6em;	
}

h6 {
    color: #000000;
    font-family: "sansserif";
    font-weight: bold;
    font-size: .5em;	
}

ol ol ol li {
    list-style: lower-alpha
}

ol ol li {
    font-weight: normal;
    list-style: decimal;
    padding-top: 0em
}

ol li {
    font-weight: bold;
    list-style: upper-roman;
    padding-top: 1em
}

ul ul ul li { 
    list-style: circle;
}

ul ul li { 
    list-style: square;
}

ul li { 
    list-style: disc;
    padding-bottom:0.4em;
    margin-left:1em;
}


a:link{
    text-decoration: underline;

}
a:visited{
    text-decoration: none;
}    


a:hover{
    text-decoration: underline;

}

p{
    margin:10px;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

HEADER SECTION

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/


header {
    box-shadow : 0 1px 1px rgba(0, 0, 0, 0);
    width:100%;
}

h1 {
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:normal;
    font-size: 3em;
    height:120px;

}

header a:link{
    text-decoration:none;
}

header a:visited{
    color:#222;
}

header a:hover{
    cursor:pointer;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

TOOLBAR SECTION

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/

.toolbar{
    position:fixed;
    right:0;
    top:0;
    padding:10px;
    border-bottom-left-radius:5px;
    background-color:#222;
    font-size:small;
    
    display:flex;
    justify-content:center;
    align-content:center;
}

.toolbar a:link{
    color:white;
}
.toolbar a:visited{
    color:white;
}

.toolbar a:hover{
    text-decoration:underline;
}

.login {
    padding-right:5px;
    border-right:thin solid white;

}
.register {
    padding-left:5px;
    display:flex;
    justify-content:center;
    align-content:center;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

NAVIGATION SECTION

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/

nav {
    height:30px;
    margin-bottom:30px;
    width:100%;
    min-width:500px;

    display:flex;
    align-items:center;
    justify-content:center;



    border-top: solid 3px #999;  
    border-bottom: solid 3px #999; 
    background-color:#233d4b;


}

nav ol{
  
}

nav ol li{
    display:inline-block;
    padding-top:0.5em;
    padding-right:5em;
    padding-bottom:0.5em;
    list-style-type: none;
    font-size:16px;
    font-weight:normal;
}

li.activePage{
    color:#Green;
}

li.inactivePage{

}

li.inactivePage:hover{

}

nav a:link{
    color:white;
    text-decoration: none;
}

nav a:visited{
    color:white;
    text-decoration: none;
}

nav a:hover{ 
    text-decoration: none;
    border-bottom: medium white solid;
}

/*JS classes*/


.is-visible{
    transition: 0.6s;
    transform:translateX(-0%);
}


.fixed-nav{
    position:fixed;
    top:0px;
}

/*MENU BUTTON*/
.menu-button {
    display:flex;
    justify-content:center;
    position: absolute;
    top: 66px;
    left: 0px;
    height: 30px;
    color: #9A99B0;
    z-index: 2;
    cursor: pointer;
    width: 30px;
    padding:2px;
    transition: transform 0.6s;
    background-color:black;
    transform:translateX(-100%);
}

.menu-button:hover .panel-button {
    transform: rotate(90deg);
}
.nav-button{
    display:flex;
    justify-content:center;
    flex-direction:column;
}
.bars {
    height: 3px;
    width:20px;
    background-color: white;
    margin: 2px 0;
    transition: transform 0.4s;
}

.menu-button:hover {
    transform:rotate(180deg);
}
.menu-button:hover .bars {
    background-color:#999;
}

.fixed-button{
    top:0;
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

FOOTER SECTION

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/

footer {
    border-top:thin solid #999;
    font-size: x-small;
    text-align: center;
    margin-top:1em;
    color:#222;
    width:100%;
}

footer a:link{
    color:#222;
    text-decoration: none;
    font-size: x-small;

}

footer a:visited{
    color:#222;
    text-decoration: none;
    font-size: x-small;
}    

footer a:hover{
    color:#222; 
    text-decoration: none;
    font-size: x-small;

}
.footer {
    color:#222;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

ARTICLE SECTION

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/
article{
}

#main {
    width:80%;
    margin:0 auto;
}

article h1 {
    padding: .2em 8.48056537% .2em 8.48056537%; /* 48px / 566px */
    margin-left:3em;
}


/*****************     aside section              *****************************/
aside {
    margin: 0 auto;
    width: 69.7885196%; /* 231px / 331px */
}
aside h2, aside p{
    padding: .2em 8.48056537% .2em 8.48056537%; /* 48px / 566px */
}



/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

FORMS SECTION

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/
#form article#main{
    float: none;
    text-align: left;
    width:100%;
}

/*need to clear any floats that may exist */

fieldset{
    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom:0;
    margin: 0;
    padding:0;
    padding-bottom:3em;
    width:80%;
    max-width:450px;
}

legend {
    margin-left:1%;
    font-size:16px;
}

fieldset.wrapper {
    border: 0;
    margin: auto;
}

fieldset.wrapper > legend{
    font-size:1.8em;
    margin-bottom:30px;
}


label {
    color: #222;
    display: block;
    font-size: medium;

}

label:hover {
    background-color: #FFF;
} 

input {
    color:#000;
    border:0;
    background-color:#F5F5F5;
    font-family:"Century Gothic", sans-serif;

}

/*~~~ CONTACT ~~~~~~~~~~ */
fieldset.contactwrapper{
    float:none;
    padding-right:10%;



}
fieldset.contactwrapper legend{
    display:inline;
}
/* just pushes content to left side of the box. */
fieldset.contact{
    float: left;
    margin:0;
    padding:0;
    border:0;
    width:100%;

}

/* when you look at the labels this pushes then next to the input and right
aligns them. Display block means they are each on their own line. */
fieldset.contact label{
    display: block;
    text-align: right;/* pushes the text to the right where they line up */
    padding-top:0.5em;
    font-size:0;

}

fieldset.contact input{
    width: 100%; 
    font-size:medium;
    height:2em;
    padding-left:2em;
    border-radius:3px;
    margin-top:1em;
}
input#txtFirstName {
    margin-top:0.5em;
}

/* ======================== OPTIONAL PROFILE ================ */

/* ~~~~~~~  First and Last Name    ~~~~~~~~~~~~~~~*/

fieldset.Profile input{
    width: 100%; 
    font-size:medium;
    height:2em;
    padding-left:2em;
    border-radius:3px;
    margin-top:1em;
}
/* ~~~ RADIO ~~~*/ 
fieldset.radiowrapper {
    float:left;
    width:30%;

}

fieldset.radiowrapper legend{
    display:block;
}
fieldset.radio {
    float:left;
    margin:20px 20px 20px 0px;
    padding:0;
    border:0;
    clear:both;
    width:40%;
    width:calc (50% - 20px);
    max-width:300px;

}

fieldset.radio label {
    width:100%;
    font-size:medium;
    margin:5px;
}

fieldset.radio input {
    margin-top:0;
    margin-right:1em;
    height:15px;
    width:15px;
}

/* ~~~ List Box ~~~*/ 
fieldset.listbox {
    width:40%;
    width:calc (50%- 40px);
    margin:20px;
    float:right;
}

fieldset.listbox legend{
    display:inline;
}
select#lstAge{
    background-color:#F5F5F5;
    border:0;
    border-radius:3px;
    color:#222;
    font-family:"Century Gothic", sans-serif;
    font-size:medium;
    margin-top:10px;
    padding:5px;


}
/* Style the comment box*/

fieldset.textarea {
    padding-bottom:0;
    clear:both;
    width:100%;
}

fieldset.textarea legend{
    display:block;
}
fieldset.textarea label {
}

textarea#AboutMe{
    margin-top: 0.5em;
    border:0;
    background-color:#F5F5F5;
    font-family:"Century Gothic", sans-serif;
    width: calc(100% + 2em);
    border-radius:3px;
    overflow: auto;
    resize:both;
    font-size:medium;

}


/* changes button style*/
fieldset.buttons{
    border: none;
    margin-top:0;
    margin-left:5%;
    margin-right:0;
    margin-bottom:0;
    padding:0;
}

input#btnSubmit{
    background-color: #222;
    color: #FFF;
    border: 0;
    padding:0.5em;
    font-size:large;
    border:thin solid #222;
    border-radius:3px;

}
input#btnSubmit:hover{
    background-color: #444;
    font-size:large;
    border:thin solid #222;
    cursor:pointer;
}

/* style the errors in the form so they are visible */
.mistake {
    color: #fff;
    background-color:#ff5555;
    border: 0;
}



/* MAIL MESSAGE RESPONSE FORMATTING */
div.message{
    border:thin solid #a8a8a8;
    background-color:#FFF;
    color:#000;
    margin-left:9em;
    margin-right: 9em;
}




/* ======================== COMMENT BOX ================ */

form#frmComment fieldset{
    margin:0;
}

form#frmComment fieldset.wrapper{
}

form#frmComment fieldset.wrapperTwo{
    padding-bottom:10px;
}

lael#txtText {
    margin-bottom:10px;  
}

textarea#txtText{
    margin-top: 0.5em;
    border:0;
    background-color:#F5F5F5;
    font-family:"Century Gothic", sans-serif;
    width: calc(100% + 2em);
    border-radius:3px;
    overflow: auto;
    resize:both;
    font-size:medium;
}

/*  TABLE SETTINGS */

#memberlist h2 {
    text-align:left;
    font-size:1.5em;
}

table{

    border-collapse: collapse;
    width: 90%;
    max-width: 1000px;
    min-width: 720px;
    color: #222;
    margin:auto;

}
th {

    padding: 0.2em;
    padding-bottom:0.5em;
    font-size:1.5em;
    font-weight:normal;
    color:#222;
    background-color:#FFF;



}

td {
    border-collapse: collapse;
    padding: 10px;
    text-align: center;

}


tr:nth-child(even) {
    background-color: #FFF;

}

tr:nth-child(odd){
    background-color: #DCF3D6;

}

tr:hover{
    background-color:#7fbfd6;
    cursor:pointer;
}

#tableheader:hover {
    background-color: #FFF;
    cursor: default;
}

table a:hover{
    color:white;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

PET LIST  SECTION

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/

#petlist section{
    display:flex;
    flex-wrap:wrap;
}

#petlist section section{
    padding:10px;
    margin:5px;
    display:flex;
    flex-direction:column;

}
#petlist .Description {
}

.Name {
    order:-2;
    text-align:center;
    margin-bottom:5px;
    font-weight:bold;

}

.Image {
    order:-1;
    margin-bottom:5px;
}

.Dob {
    margin-bottom:5px;
}

#petlist section section:hover {
    cursor:pointer;
    background-color: rgba(100,100,100,0.05);
}

.dog {
    background-color:#d2ebf8;
}

.cat{
    background-color: #f8d2eb;
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

INDIVIDUAL PET SECTION

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/
#pet article {
    width:80%;
    margin:0 auto;
}

#pet section {
}

#pet h2{
    padding-left:15px;
}

.petinfo{
    padding:10px;
}

.petinfo div{
    padding:10px;
}

.Description{
    max-width:400px;
}

.Description p{
    padding:0;
    margin:0;
}

#pet h3 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 20px;
}

.comment {
    margin:10px 10px 10px 0px;
    border:thin solid black;
    border-radius:3px;
}


.Text {
    padding:20px;
}

.CommentInfo{
    font-size:small;
    border-top:thin solid black;
    padding:10px;
    margin:0;
    
}

.CommentEdit , .CommentDelete{
      float: right;
  margin: 0px 5px 0px 5px;
}

.AdoptMe {
    padding:10px;
    margin: 5px;
    border-radius:5px;
    background-color:#DCF3D6;
    box-shadow: 2px 2px 2px #888888;
    
    text-align:center;
    width:90px;
}

p.AdoptMe:hover{
    background-color:#7fbfd6;
    cursor:pointer;
    color:white;
    text-decoration:underline;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

ADMIN BUTTONS SECTION

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/
.adminoptions {
    display:flex;
    flex-wrap:wrap;
    align-content:center;
    margin:10px;  
}

.edit {
    padding:10px;
    margin: 5px;
    border-radius:5px;
    background-color:#DCF3D6;
    box-shadow: 2px 2px 2px #888888;
}

.edit a:link{
    color:#222;
    text-decoration:none;
}

.edit a:visited{
    color:#222;
    text-decoration:none;
}

.edit a:hover{
    text-decoration:underline;
    color:white;
}

.edit:hover{
    background-color:#7fbfd6;
    cursor:pointer;
    color:white;
    text-decoration:underline;
}


.delete {
    padding:10px;
    margin: 5px;
    border-radius:5px;
    background-color:#F3D6DC;
    box-shadow: 2px 2px 2px #888888;
}

.delete a:link{
    color:#222;
    text-decoration:none;
}

.delete a:visited{
    color:#222;
    text-decoration:none;
}

.delete a:hover{
    text-decoration:underline;
    color:white;
}

.delete:hover{
    background-color:#7fbfd6;
    cursor:pointer;
    color:white;
    text-decoration:underline;
}


